/* body {
  font-family: sans-serif;
  background-color: rgba(132, 140, 148, 0.404);
}

.judul1 {
  font-weight: bold;
  margin-top: 300px;
  margin-left: 125px;
  margin-bottom: 25px;
}

.judul2 {
  font-weight: bold;
  margin-top: 50px;
  margin-left: 125px;
  margin-bottom: 25px;
} */
